.mypage-sidebar-box
  .mypage-nav
    .list
      %ul.list
        = link_to profile_path(current_user) do
          %li.mypage
            = "マイページ"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
        = link_to "#" do
          %li.news
            ="お知らせ"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
        = link_to "#" do
          %li.ToDo
            ="やること"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
        = link_to like_index_path do
          %li.like
            ="いいね"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
        = link_to new_item_path do
          %li.sale
            ="出品する"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
        = link_to "#" do
          %li.sale-now
            ="出品した商品ー出品中ー"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
        = link_to "#" do
          %li.exhibiting
            ="出品した商品ー取引中ー"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
        = link_to "#" do
          %li.during-trading
            ="出品した商品ー売却済みー"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
        = link_to "#" do
          %li.past-transactions
            ="出品した商品ー過去の取引ー"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
        = link_to "#" do
          %li.guide
            ="ガイド"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
        = link_to "#" do
          %li.contact
            ="お問合せ"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
    .table-title
      設定
      
    .list
      %ul.list
        = link_to "#" do
          %li.profile
            ="プロフィール"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
        = link_to "#" do
          %li.address
            ="発送元・お届け先変更"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
        = link_to  card_path(current_user.id) do
          %li.pay
            ="支払い方法"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
        = link_to "#" do
          %li.change
            ="メール・パスワード変更"
            = icon('fas', 'fas fa-angle-right', class: 'icon')
        = link_to logout_profiles_path do
          %li.logout
            ="ログアウト"
            = icon('fas', 'fas fa-angle-right', class: 'icon')