= render partial:"items/header"
- breadcrumb :logout
= render "layouts/breadcrumbs"



.mypage-main-contents
  .mypage-main-contents__inner
    = render "side-bar"
    .mypage-main-contents__inner__main-box
      .logout-inner
        .logout-inner__box
          .logout-inner__box__btn
            = link_to destroy_user_session_path, method: :delete do
              = "ログアウト"
              
= render partial:"items/app_banner"
= render partial:"items/footer"


