.login-contena
  .header
    .header-logo
      = link_to root_path do
        .img
          =image_tag asset_path("logo.png")


  .profile-contents
    .profile-panel
      .profile-panel__registration 
        %p.txt 会員情報入力

      .profile-panel__form
        .profile-panel__form__inner
          .profile-list-box
            = form_for profiles_path do |f|
              .field
                %p.text
                  ="お名前"
                .field__input
                  = f.label :ニックネーム
                  = f.text_field :nickname,required:true,autofocus: true,placeholder: '仮）フリマ花子',class:'form-box'
                  %span
                    必須
                .field__input
                  = f.label :メールアドレス
                  = f.email_field :email,required:true,placeholder: 'PC、携帯どちらでも可',class:'form-box'
                  %span
                    必須
                .field__input
                  = f.label :パスワード
                  = f.password_field :password,required:true,autocomplete: "off",placeholder: '7文字以上の半角英数字',class:'form-box'
                  %span
                    必須
                .field__input
                  = f.label :名前
                  = f.text_field :family_name,required:true,placeholder: '例）山田',class:'form-box'
                  = f.text_field :first_name,required:true,placeholder: '例）杏',class:'form-box'
                  %span
                    必須
                .field__input
                  = f.label :カナ
                  = f.text_field :family_name_kana,required:true,placeholder: '例）ヤマダ（全角）',class:'form-box'
                  = f.text_field :first_name_kana,required:true,placeholder: '例）アン（全角）',class:'form-box'
                  %span
                    必須
                .field__input
                  = f.label :生年月日（年）
                  = f.text_field :birth_year,required:true,placeholder: '例）１９９０ 全角',class:'form-box'
                  %span
                    必須
                .field__input
                  = f.label :生年月日（月）
                  = f.text_field :birth_month,required:true,placeholder: '例）1 全角',class:'form-box'
                  %span
                    必須
                .field__input
                  = f.label :生年月日（日）
                  = f.text_field :birth_day,required:true,placeholder: '例）10 全角',class:'form-box'
                  %span
                    必須
                %p.text
                  ="住所"

                .field__input
                  = f.label :県
                  = f.text_field :prefecture,equired:true, autofocus: true,placeholder: '仮）東京都',class:'form-box'
                  %span
                    必須
                .field__input
                  = f.label :市、区
                  = f.text_field :city,equired:true,autofocus: true,placeholder: '仮）千代田区',class:'form-box'
                  %span
                    必須
                .field__input
                  = f.label :番地
                  = f.text_field :house_number,equired:true, autofocus: true,placeholder: '仮）○○町○番',class:'form-box'
                  %span
                    必須
                .field__input
                  = f.label :郵便番号
                  = f.text_field :post_cord,equired:true,autofocus: true,placeholder: '仮）全角数字７文字',class:'form-box'
                  %span
                    必須
                .actions
                  = f.submit "登録", class:'btn'
  = render partial:"items/footer"
