= render "header"


.mypage-main-contents
  .mypage-main-content-inner
    = render "side-bar"
    .main-box
      →各コンテンツ表示
      (以下renderあてはめます)
      = render "mypage-top"


= render partial:"items/app_banner"
= render partial:"items/footer"
.purchase_btn
  = link_to new_item_path do
    .purchase_btn__text
      出品する
    .purchase_btn__icon
      = image_tag "icons/icon_camera.png"
    