.mypage-header-contena
  .mypage-header-inner
    .mypage-header-top
      .mypage-header-top__logo
        = link_to root_path do
          = image_tag "logo.png"
      .mypage-header-top__search-box
        = form_with url:'#', method: :get, local: true do |f|
          = f.text_field :name, placeholder: 'お探しの物を教えてください',class: "search_field"
          = f.submit type: "button", class: "search_btn", value: ""
          = image_tag "icons/icon-search 1.png"


    .mypage-header-nav

      .mypage-header-nav__left-box
        .mypage-header-nav__left-box__category-box
          = link_to "#" do
            %ul.list
              %li.icon
                = icon('fas', 'fas fa-list-ul', class: 'icon')
              %li.sentence
                ="カテゴリーから探す"
        .mypage-header-nav__left-box__brands-box
          = link_to "#" do
            %ul.list
              %li.icon
                = icon('fas', 'fas fa-tags', class: 'icon')
              %li.sentence
                ="ブランドから探す"


      .mypage-header-nav__right-box
        .mypage-header-nav__right-box__mypage-box 
          - if user_signed_in?
            = icon('fas', 'fas fa-shopping-cart', class: 'icon')
            = link_to "新規出品", new_item_path
            = icon('fas', 'fas fa-home', class: 'icon')
            = link_to "マイページ",logout_profiles_path
          - else
            = icon('fas', 'fas fa-home', class: 'icon')
            = link_to "ログイン", new_user_session_path
            = icon('fas', 'fas fa-paw', class: 'icon')
            = link_to "新規登録", new_user_registration_path
