.mypage-header-contena
  .mypage-header-inner
    .mypage-header-top
      .mypage-header-top__logo
        = link_to root_path do
          = image_tag asset_path("logo.png")
      .mypage-header-top__search-box
        = form_tag(search_items_path, method: :get) do
          = text_field_tag :keyword, '', class: "search_field", placeholder: 'お探しの物を教えてください'
          %label
            = button_tag "", type: "submit", name: nil, class: "search_btn"
            = image_tag asset_path("icons/icon-search 1.png") 


    .mypage-header-nav

      .mypage-header-nav__left-box
        .mypage-header-nav__left-box__category-box
          %ul.list
            %li.icon
              =link_to '#' do
                = icon('fas', 'fas fa-list-ul', class: 'icon')
                ="カテゴリーから探す"
              %ul.category1
                - @parents.each do |parent|
                  %li.parent__list
                    = link_to parent.name
                    %ul.category2
                      - parent.children.each do |child|
                        %li.child__list
                          =link_to child.name
                          %ul.category3
                            - child.children.each do |grandchild|
                              %li.grandchild__list
                                = link_to grandchild.name

        .mypage-header-nav__left-box__brands-box
          = link_to "#" do
            %ul.list
              %li.icon
                = icon('fas', 'fas fa-tags', class: 'icon')
              %li.sentence
                =link_to brands_index_items_path do
                  = "ブランドから探す"


      .mypage-header-nav__right-box
        .mypage-header-nav__right-box__mypage-box
          - if user_signed_in?
            = icon('fas', 'fas fa-shopping-cart', class: 'icon')
            = link_to "新規出品", new_item_path
            = icon('fas', 'fas fa-home', class: 'icon')
            = link_to "マイページ",profile_path(current_user)
          - else
            = icon('fas', 'fas fa-home', class: 'icon')
            = link_to "ログイン", new_user_session_path
            = icon('fas', 'fas fa-paw', class: 'icon')
            = link_to "新規登録", new_user_registration_path
