.header
  .header_box
    .header_box__main
      .icon
        = link_to root_path do
          = image_tag "logo.png"
      .search_box
        = form_with url:'#', method: :get, local: true do |f|
          = f.text_field :name, class: "search_field"
          = f.submit type: "button", class: "search_btn", value: ""
          = image_tag "icons/icon-search 1.png"
    .header_box__nav
      .lists_left
        .list_left__category
          カテゴリー
        .list_left__brand
          ブランド
      .lists_right
        .list_right__login
          ログイン
        .list_right__signup
          新規登録