.header
  = link_to root_path do
    = image_tag asset_path("logo.png"), class: "top-logo"
.newitem-container
  = form_for @item do |f|
    .edititem-container__img-container
      .edittem-container__img-container__title
        .edititem-container__img-container__title--text
          %lavel
            出品画像
          %span
            必須
      .edititem-container__img-container__text
        最大5枚までアップロードできます
      #edititem-container__image__box
        .edit__image__box
          = f.fields_for :images do |image|
            = image_tag asset_path("#{image.object.src}")
            = image.file_field :src
            %br
      .edititem__add__image
        - @item.images.length.upto(4) do |i|
          %input{type: "file", name: "item[images_attributes][#{i}][src]", id: "item_images_attributes_#{i}_src"}

    %hr
    .newitem-container__body
      .newitem-container__body__form
        .newitem-container__body__form--text
          %lavel
            商品名
          %span
            必須
        .newitem-container__body__form--textarea
          = f.text_field :name, class: "itemname", required: true, placeholder: "商品名を入力してください"
      .newitem-container__body__description
        .newitem-container__body__description--text
          %lavel
            商品の説明
          %span
            必須
        .newitem-container__body__description--textarea
          = f.text_area :content, class: "description", required: true, placeholder: "商品の説明を入力してください"

    %hr
    .newitem-container__newitems-detail
      .newitem-container__newitems-detail__title
        商品の詳細
      .newitem-container__newitems-detail__form
        .newitem-container__newitems-detail__form__category--text
          %lavel
            カテゴリー
          %span
            必須
        .newitem-container__newitems-detail__form__category--textarea
          = f.select :category, @category_parent_array, {selected:@item.category.parent.parent.name}, { class: 'listing-select-wrapper__box--select', id: 'parent_category'}
        .newitem-container__newitems-detail__form__brand--text
          %lavel
            ブランド
          %span
            任意
        .newitem-container__newitems-detail__form__brand--textarea
          = f.text_field :brand, class: "brandname", placeholder: "入力してください"
        .newitem-container__newitems-detail__form__status--text
          %lavel
            商品の状態
          %span
            必須
        .newitem-container__newitems-detail__form__status--textarea
          = f.select :item_condition_id, ItemCondition.all.map{|o| [o.name, o.id]}, {prompt: "選択してください"}, {class: 'status', required: true}
    %hr
    .newitem-container__newitems-ship
      .newitem-container__newitems-ship__title
        配送について
      .newitem-container__newitems-ship__form
        .newitem-container__newitems-ship__form__payment--text
          %lavel
            配送料の負担
          %span
            必須
        .newitem-container__newitems-ship__form__payment--textarea
          = f.select :postage_payer_id, PostagePayer.all.map{|o| [o.name, o.id]}, {prompt: "選択してください"}, {class: 'payment', required: true}
        .newitem-container__newitems-ship__form__region--text
          %lavel
            発送元の地域
          %span
            必須
        .newitem-container__newitems-ship__form__region--textarea
          = f.select :prefecture_id, Prefecture.all.map{|o| [o.name, o.id]}, {prompt: "選択してください"}, {class: 'region', required: true}
        .newitem-container__newitems-ship__form__days--text
          %lavel
            発送までの日数
          %span
            必須
        .newitem-container__newitems-ship__form__days--textarea
          = f.select :preparation_day_id, PreparationDay.all.map{|o| [o.name, o.id]}, {prompt: "選択してください"}, {class: 'days', required: true}
          
    %hr
    .newitem-container__newitems-price
      .newitem-container__newitems-price__title
        価格（¥300〜9,999,999）
      .newitem-container__newitems-price__form
        .newitem-container__newitems-price__form__container
          .newitem-container__newitems-price__form__container--text
            %lavel
              販売価格
            %span
              必須
          .newitem-container__newitems-price__form__container--form
            %span.mark
              ¥
            = f.text_field :price, id: "price", min: "300", max: "9999999", required: true, placeholder: "0", type: "number"
      .newitem-container__newitems-price__container
        .newitem-container__newitems-price__container__commition
          %lavel
            販売手数料（10%）
          %lavel#fee
        .newitem-container__newitems-price__container__line
        .newitem-container__newitems-price__container__profit
          %lavel
            販売利益
          %lavel#profit
    .newitem-container__exhibit-button
      = f.submit class: "button-1", value: "商品情報を変更する"
    .newitem-container__attention
      %p
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
= render partial:"items/footer-transition"