= render partial: 'items/header'
- breadcrumb :items
= render "layouts/breadcrumbs"

.main
  .main__showmain
    .main__showmain__content
      .itembox
        %h2.itembox__itemname
          = @item.name
          .itembox__itembody
            .itembox__itembody--pic
              = image_tag asset_path("#{@item.images.first.src}"), class: "show_img_main"
              %ul
                %li
                  - if @item.images.count >= 1
                    = image_tag asset_path("#{@item.images.first.src}"), class: "show_img"
                %li
                  - if @item.images.count >= 2
                    = image_tag asset_path("#{@item.images.second.src}"), class: "show_img"
                %li
                  - if @item.images.count >= 3
                    = image_tag asset_path("#{@item.images.third.src}"), class: "show_img"
                %li
                  - if @item.images.count >= 4
                    = image_tag asset_path("#{@item.images.fourth.src}"), class: "show_img"

          .itembox__itemprice
            %span
              &yen
              = @item.price
            .itembox__itemprice__pricedetail
              %span
                (税込)
              %span
                送料込み
          .itembox__itemdetail
            = @item.content
          .itembox__table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td #{User.find(@item.seller_id).nickname}
                %tr
                  %th カテゴリー
                  %td
                    = @category.root.name
                    %br
                    = @category.parent.name
                    %br
                    = @category.name
                %tr
                  %th ブランド
                  %td
                    = @item.brand
                %tr
                  %th 商品の状態
                  %td
                    = @item.item_condition.name
                %tr
                  %th 配送料の負担
                  %td
                    = @item.postage_payer.name
                %tr
                  %th 発送元の地域
                  %td
                    = @item.prefecture.name
                %tr
                  %th 発送日の目安
                  %td
                    = @item.preparation_day.name
                %tr
                  %th お気に入り
                  %td
                    = render partial: 'likes/like'
        - if user_signed_in? && current_user.id == @item.seller_id
          .item-btn
            = link_to "商品の編集", edit_item_path, class: 'item-btn'
          .item-btn--delete
            = link_to "この商品を削除する", item_path, class: 'item-btn--delete', method: :delete
        - elsif @item.buyer_id.present?
          .disabled-btn
            売り切れました
        - elsif user_signed_in?
          .item-btn
            = link_to "購入画面に進む", order_path(@item.id), class: 'item-btn'
        - else
          .item-btn
            = link_to "会員登録画面に進む", new_user_registration_path

= render partial: 'items/app_banner'
= render partial: 'items/footer'
