.main
  .main__showmain
    .main__showmain__content
      .itembox
        %h2.itembox__itemname product3
        .itembox__itembody
          .itembox__itembody--pic
            = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
            %ul
              %li
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", size: "75×75"
              %li
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", size: "75×75"
              %li
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png", size: "75×75"
        .itembox__itemprice
          %span
            ¥ 30000
          .itembox__itemprice__pricedetail
            %span
              (税込)
            %span
              送料込み
        .itembox__itemdetail 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
        .itembox__table
          %table
            %tbody
              %tr
                %th 出品者
                %td hoge
              %tr
                %th カテゴリー
                %td
                  = link_to 'ベビー・キッズ', '#'
                  %br
                  = link_to 'ベビー服(男女兼用) ~95cm', '#'
                  %br
                  = link_to 'アウター', '#'
                  %br
              %tr
                %th ブランド
                %td
                  
              %tr
                %th 商品のサイズ
                %td
              %tr
                %th 商品の状態
                %td 未使用に近い
              %tr
                %th 配送料の負担
                %td 送料込み（出品者負担）
              %tr
                %th 発送元の地域
                %td
                  = link_to '岩手県', '#'
              %tr
                %th 発送日の目安
                %td 4-7で発送
