= render partial: 'items/header'
.main
  .main__showmain
    .main__showmain__content
      .itembox
        %h2.itembox__itemname
          = @item.name
          .itembox__itembody
            .itembox__itembody--pic
              = image_tag asset_path("#{@item.images.first.src}")
              %ul
                %li
                  - if @item.images.count >= 2
                    = image_tag asset_path("#{@item.images.second.src}"), size: "100×100"
                %li
                  - if @item.images.count >= 3
                    = image_tag asset_path("#{@item.images.third.src}"), size: "75×75"
                %li
                  - if @item.images.count >= 4
                    = image_tag asset_path("#{@item.images.fourth.src}"), size: "75×75"
                %li
                  - if @item.images.count >= 5
                    = image_tag asset_path("#{@item.images.fifth.src}"), size: "75×75"

          .itembox__itemprice
            %span
              &yen
              = @item.price
            .itembox__itemprice__pricedetail
              %span
                (税込)
              %span
                送料込み
          .itembox__itemdetail 
            = @item.content
          .itembox__table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td hoge
                %tr
                  %th カテゴリー
                  %td
                    = link_to 'ベビー・キッズ(仮置）', '#'
                    %br
                    = link_to 'ベビー服(男女兼用)（仮置） ~95cm', '#'
                    %br
                    = link_to 'アウター（仮置）', '#'
                    %br
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品の状態
                  %td
                    = @item.item_condition.name
                %tr
                  %th 配送料の負担
                  %td
                    = @item.postage_payer.name
                %tr
                  %th 発送元の地域
                  %td
                    = @item.prefecture.name
                %tr
                  %th 発送日の目安
                  %td
                    = @item.preparation_day.name
        - if user_signed_in? && current_user.id == @item.seller_id
          .item-btn
            = link_to "商品の編集", edit_item_path
          .item-btn
            = link_to "この商品を削除する", item_path, method: :delete
        - else
          .item-btn
            = link_to "購入画面に進む", new_order_path
= render partial: 'items/app_banner'
= render partial: 'items/footer'