= render  partial:"items/header"
- breadcrumb :CardNew
= render "layouts/breadcrumbs"

.mypage-main-contents
  .mypage-main-content-inner
    = render  partial:"profiles/side-bar"

    .main-box
      .user-cards-content
        .user-cards-content__head
          クレジットカード情報入力

      .credit-card
        .credit-card__inner
          = form_tag(pay_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
            %label.label カード番号
            %span 必須
            %br
            = text_field_tag "number", "", class: "input-number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
            %br
            %label.label 有効期限
            %br
            = select_tag "exp_month", options_for_select([["01","1"], ["02","2"], ["03","3"], ["04","4"], ["05","5"],["06","6"],["07","7"],["08","8"],["09","9"],["10","10"],["11","11"],["12","12"],],:selected=>"1"),id: "exp_month"
            月/
            = select_tag "exp_year", options_for_select([["19","2019"], ["20","2020"], ["21","2021"], ["22","2022"], ["23","2023"],["24","2024"],["25","2025"],["26","2026"],["27","2027"],["28","2028"],["29","2029"],["30","2030"],],:selected=>"1"),id: "exp_year"
            年
            %br
            %label.label セキュリティコード
            %span 必須
            %br
            = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc",class: "input-number"
            .content-bottom
              #card_token
              = submit_tag "追加する", id: "token_submit",class:"add-btn"



= render partial:"items/app_banner"
= render partial:"items/footer"
.purchase_btn
  = link_to new_item_path do
    .purchase_btn__text
      出品する
    .purchase_btn__icon
      = image_tag "icons/icon_camera.png"



