= render  partial:"items/header"

.mypage-main-contents
  .mypage-main-content-inner
    = render  partial:"profiles/side-bar"

    .main-box
      .user-cards-content
        .user-cards-content__head
          支払い方法
        .user-cards-content__inner
          .user-cards-content__inner__section
            -# クレジットカード一覧
            -# - if @card.present?
            -#   %ul.content__credit-cards__list
            -#     %li
            -#       = form_with url: card_path(@card.id), method: :delete, local: true, id: 'charge-form' do |f|
            -#         -# カードブランドのアイコンを表示する場合-----
            -#         -# %figure
            -#         -#   = image_tag "credit-cards/#{@card_src}", width: '26', height: '20', alt: @card_brand, id: "card_image"
            -#         -# -#----------------------------------
            -#         .content__credit-cards__list--pay-num
            -#           = "**** **** **** " + @card_information.last4
            -#         .content__credit-cards__list--pay-num
            -#           - exp_month = @card_information.exp_month.to_s
            -#           - exp_year = @card_information.exp_year.to_s.slice(2,3)
            -#           = exp_month + " / " + exp_year
            -#         %input{type: "hidden", name: "card_id", value: ""}
            -#         = f.submit "削除する", {class: "content__credit-cards__list__remove"}
            -#         - if flash[:notice]
            -#           .alert.alert-success
            -#           = flash[:notice]
            -#         - if flash[:alert]
            -#           .alert.alert-dange
            -#           = flash[:alert]
            -# - else
            -#   .right-single-content
            -#     = link_to new_card_path,class: "credit-card__link" do
            -#       %i.fa.fa-credit-card.add-credit-card__icon
            -#       クレジットカードを追加する
            %label 登録クレジットカード情報
            %br
            = "**** **** **** " + @default_card_information.last4
            %br
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
            = form_tag(delete_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
              %input{ type: "hidden", name: "card_id", value: "" }
              %button 削除する



= render partial:"items/app_banner"
= render partial:"items/footer"
.purchase_btn
  = link_to new_item_path do
    .purchase_btn__text
      出品する
    .purchase_btn__icon
      = image_tag "icons/icon_camera.png"

